header{
    background-color: #BBBBBB;
    padding: 20px 0px;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0px auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0px 0px 0px 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo--centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: white;
    padding: 30px;
}

.items{
    font-style: italic;
}

.diferenciales-lista{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px ;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
