header{
    background-color: #BBBBBB;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 20px 0px;
}

nav li{
    display: inline;
    margin: 0px 0px 0px 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}